In [3]:
import pandas as pd
import os

In [4]:
train_data_path = os.path.join('processed_train_data.pkl')
train_data = pd.read_pickle(train_data_path)

test_data_path = os.path.join('processed_test_data.pkl')
test_data = pd.read_pickle(test_data_path)

In [5]:
train_data.head()

,Age upon Intake,Breed,Color,Outcome Type,Intake Condition_Aged,Intake Condition_Agonal,Intake Condition_Behavior,Intake Condition_Congenital,Intake Condition_Feral,Intake Condition_Injured,...,Intake Type_Wildlife,Animal Type_Cat,Animal Type_Dog,Sex upon Intake_Intact Female,Sex upon Intake_Intact Male,Sex upon Intake_Neutered Male,Sex upon Intake_Spayed Female,Sex upon Intake_Unknown,Intake Month,Intake Year
0,417.420,10,White/Liver,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,7,2015
1,47.795,55,Sable/White,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,4,2016
2,104.355,16046,Orange Tabby,Transfer,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,5,2022
3,104.355,5654,Chocolate,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,2,2017
4,313.065,100,Black,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,4,2019

In [6]:
test_data.head()

,Id,Age upon Intake,Breed,Color,Intake Condition_Aged,Intake Condition_Agonal,Intake Condition_Behavior,Intake Condition_Feral,Intake Condition_Injured,Intake Condition_Med Attn,...,Intake Type_Stray,Animal Type_Cat,Animal Type_Dog,Sex upon Intake_Intact Female,Sex upon Intake_Intact Male,Sex upon Intake_Neutered Male,Sex upon Intake_Spayed Female,Sex upon Intake_Unknown,Intake Month,Intake Year
0,1,104.355,109,Tricolor,False,False,False,False,False,False,...,True,False,True,False,False,True,False,False,1,2019
1,2,4.000,6441,Calico,False,False,False,False,False,False,...,True,True,False,True,False,False,False,False,10,2013
2,3,208.710,1,Tan/Gray,False,False,False,False,False,False,...,True,False,True,False,False,True,False,False,6,2014
3,4,21.725,503,Brown/White,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,7,2015
4,5,104.355,6441,Black/White,False,False,False,False,True,False,...,True,True,False,True,False,False,False,False,2,2017

In [15]:
x = set(train_data.columns)
y = set(test_data.columns)

z = x.difference(y)
print(x)
print(y)
print(z)

{'Age upon Intake', 'Intake Type_Euthanasia Request', 'Breed', 'Intake Condition_Med Urgent', 'Outcome Type', 'Intake Condition_Unknown', 'Intake Condition_Agonal', 'Sex upon Intake_Intact Female', 'Intake Condition_Other', 'Intake Type_Owner Surrender', 'Sex upon Intake_Intact Male', 'Animal Type_Dog', 'Intake Condition_Med Attn', 'Intake Condition_Aged', 'Intake Condition_Sick', 'Intake Condition_Injured', 'Intake Type_Stray', 'Sex upon Intake_Unknown', 'Color', 'Intake Condition_Medical', 'Intake Condition_Space', 'Intake Condition_Behavior', 'Intake Condition_Nursing', 'Intake Condition_Normal', 'Intake Condition_Feral', 'Intake Condition_Neonatal', 'Sex upon Intake_Spayed Female', 'Intake Condition_Congenital', 'Intake Type_Public Assist', 'Intake Year', 'Intake Type_Wildlife', 'Intake Type_Abandoned', 'Intake Condition_Parvo', 'Intake Month', 'Intake Condition_Pregnant', 'Animal Type_Cat', 'Sex upon Intake_Neutered Male', 'Intake Condition_Neurologic'}
{'Age upon Intake', 'Intake Type_Euthanasia Request', 'Breed', 'Intake Condition_Med Urgent', 'Intake Condition_Unknown', 'Intake Condition_Agonal', 'Sex upon Intake_Intact Female', 'Intake Condition_Other', 'Intake Type_Owner Surrender', 'Sex upon Intake_Intact Male', 'Animal Type_Dog', 'Intake Condition_Med Attn', 'Intake Condition_Aged', 'Intake Condition_Sick', 'Intake Condition_Injured', 'Intake Type_Stray', 'Sex upon Intake_Unknown', 'Color', 'Intake Condition_Medical', 'Intake Condition_Space', 'Intake Condition_Behavior', 'Intake Condition_Nursing', 'Intake Condition_Normal', 'Intake Condition_Feral', 'Intake Condition_Neonatal', 'Sex upon Intake_Spayed Female', 'Intake Type_Public Assist', 'Intake Year', 'Id', 'Intake Condition_Panleuk', 'Intake Type_Abandoned', 'Intake Condition_Parvo', 'Intake Month', 'Intake Condition_Pregnant', 'Animal Type_Cat', 'Sex upon Intake_Neutered Male'}
{'Intake Condition_Congenital', 'Intake Type_Wildlife', 'Outcome Type', 'Intake Condition_Neurologic'}

**'Intake Condition_Congenital'**, 'Intake Type_Wildlife', 'Intake Condition_Neurologic'

                                   'Intake Condition_Panleuk'
{'Intake Condition_Congenital', 'Intake Type_Wildlife', 'Outcome Type', 'Intake Condition_Neurologic'}

In [16]:
train_data.head()

,Age upon Intake,Breed,Color,Outcome Type,Intake Condition_Aged,Intake Condition_Agonal,Intake Condition_Behavior,Intake Condition_Congenital,Intake Condition_Feral,Intake Condition_Injured,...,Intake Type_Wildlife,Animal Type_Cat,Animal Type_Dog,Sex upon Intake_Intact Female,Sex upon Intake_Intact Male,Sex upon Intake_Neutered Male,Sex upon Intake_Spayed Female,Sex upon Intake_Unknown,Intake Month,Intake Year
0,417.420,10,White/Liver,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,7,2015
1,47.795,55,Sable/White,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,4,2016
2,104.355,16046,Orange Tabby,Transfer,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,5,2022
3,104.355,5654,Chocolate,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,2,2017
4,313.065,100,Black,Return to Owner,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,4,2019